#bar {
     font-family: Arial;
font-size: 1.5em;
    top:-5.5em; right:0px; /* Ïîëîæåíèå */
     padding: 1em; /* Ïîëÿ */
     margin: 0; /* Îòñòóïû */
     position: absolute; /* Àáñîëþòíîå ïîçèöèîíèðîâàíèå */
     width: 6em; /* Øèðèíà */
     background: #333; /* Öâåò ôîíà */
     color: #fff; /* Öâåò òåêñòà */
     text-align: center; /* Âûðàâíèâàíèå ïî öåíòðó */
     /* Ïåðåõîä */
     -webkit-transition: top 1s ease-out 0.5s;
     -moz-transition: top 1s ease-out 0.5s;
     -o-transition: top 1s ease-out 0.5s;
     transition: top 1s ease-out 0.5s;
    }
   #bar:hover { top: 0; }

a:link {color: #ffffff; text-decoration: none;}
a:visited {color: #ffffff; text-decoration: none;}
a:hover {color: #5782e3; text-decoration: none;}
